html, body{
  width: 100%;
  height: 100%;

  background-color: #222;
}

.stage{
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

.img-sec {
    position: relative;

    width: 100%;
    height: 100%;
    overflow: hidden;
    perspective: 1800px;
    background-color: #222
}

.img-self{
  width: 240px;
}

.img-title{
  text-align: center;
  margin: 20px 0 0 0;
  color: #a7a0a2;
  font-size: 16px;
}

.img-back{
  position: absolute;
  left: 0;
  top: 0;

  text-align: center;
  width: 320px;
  height: 360px;
  overflow: auto;
  color: #a7a0a2;
  font-size: 22px;
  line-height: 1.25;
  text-align: center;
  background-color: #fff;

  box-sizing: border-box;

  transform: rotateY(180deg) translateZ(1px);
}

.img-figure {
  position: absolute;
  width: 320px;
  height: 360px;
  margin: 0;
  padding: 40px;
  background-color: #fff;
  cursor: pointer;
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
  box-sizing: border-box;
}

.img-figureis-inverse{
  position: absolute;
  width: 320px;
  height: 360px;
  margin: 0;
  padding: 40px;
  background-color: #fff;
  cursor: pointer;
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
  box-sizing: border-box;
  transform: translate(320px) rotateY(180deg);
}

.img-figures {
  width: 320px;
  height: 360px;
}


.controller-nav {
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;

  width: 100%;
  text-align: center;
}

.controller-unit{
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;

  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #aaa;
  border-radius: 50%;
  
  transform: scale(.5);
  transition: transform .6s ease-in-out, background-color .3s;

  &.is-center{
    transform: scale(1);

    background-color: #888;

    &::after{
      color: #fff;

      line-height: 30px;
      content: "çŽ‹";

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  &.is-inverse{
    background-color: #555;
    transform: rotateY(180deg);
  }
}

